.DS_Store

node_modules/
*.log
*.log.*
*.tsbuildinfo

/.vscode/**/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json

/dist
/coverage
/test-results/
/playwright-report/
/playwright/.cache/
