@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: theme("colors.zinc.900");
	background-color: theme("colors.zinc.100");
}

@media (prefers-color-scheme: dark) {
	:root {
		color: theme("colors.zinc.300");
		background-color: theme("colors.zinc.900");
	}
}
