name: Test and lint

on: [push]

jobs:
  test-and-lint:
    name: Test and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      
      - run: bun install --frozen-lockfile
      
      - run: bun run test -- --coverage --silent
      
      - run: bun lint
